.movie-detail {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  padding: 0 160px 0 80px;
}

.movie-details p {
  margin-top: 20px;
}

.movie-poster img {
  border-radius: 24px;
  object-fit: cover;
  object-position: top;
}
