<div class="movie-detail">
  <div class="movie-details">
    <h1>{{ movie.titleText.text }}</h1>
    <p><strong>Title Type:</strong> {{ movie.titleType.text }}</p>
    <p><strong>Release Year:</strong> {{ movie.releaseYear.year }}</p>
    <span style="white-space: break-spaces">
      {{ movie.originalTitleText.text }} is simply dummy text of the printing
      and typesetting industry. Lorem Ipsum has been the industry's standard
      dummy text ever since the 1500s, when an unknown printer took a galley of
      type and scrambled it to make a type specimen book. It has survived not
      only five centuries, but also the leap into electronic typesetting,
      remaining essentially unchanged. It was popularised in the 1960s with the
      release of Letraset sheets containing Lorem Ipsum passages, and more
      recently with desktop publishing software like Aldus PageMaker including
      versions of Lorem Ipsum.
    </span>
  </div>

  <div class="movie-poster">
    <img
      [src]="movie.primaryImage?.url"
      alt="{{ movie.titleText.text }}"
      width="500px"
      height="500px"
    />
  </div>
</div>
